xml/markers_xsd.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="markers" type="markersType"/>
  <xs:complexType name="markersType">
    <xs:sequence>
      <xs:element type="markerType" name="marker" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="markerType">
    <xs:sequence>
      <xs:element type="xs:string" name="description"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="name" use="optional"/>
    <xs:attribute type="xs:string" name="lat" use="optional"/>
    <xs:attribute type="xs:string" name="lng" use="optional"/>
  </xs:complexType>
</xs:schema>